<!DOCTYPE html>
<html>
  <head>
    <title> Occupations </title>
  </head>
  <body>
    <h1> Occupations </h1>
    <table style = "Width:100%">
      <tr>
	<td> Job Class </td>
	<td> Percentage </td>
      </tr>
      {% for key in keys %}
      <tr>
	<td>
	  <a href = {{keys[key][1]}}>
	    <div style = "height:100%; width:100%">
	      {{key}}
	    </div>
	  </a>
	</td>
	<td> {{keys[key][0]}} </td>
      </tr>
      {% endfor %}
      <tr>
	<td> Total </td>
	<td> 99.8 </td>
      </tr>	
    </table>
    <h1> Random Job </h1>
    <p> You will work in {{job}}, which is {{percentage}} of the workforce. Here is a helpful link, {{link}} </p>
  </body>
</html>
